.month-header {
	display: flex;
	align-items: center;
	justify-content: center;
}
.month-header .row {
	flex: 3;
}
.month-header .row:nth-child(2) {
	text-align: center;
}
.month-header .row:last-child {
	text-align: right;
}
.month-header .row h1 {
	font-size: 40px;
}

.month-header .row .anticon svg {
	border-radius: 10px;
}
